import { defineConfig } from "vite";
import react from "@vitejs/plugin-react";
import tailwindcss from "@tailwindcss/vite";

export default defineConfig({
  plugins: [react(), tailwindcss()],
  server: {
    port: {{ port }},{% if api_port %}
    proxy: {
      "/v1": {
        target: "http://localhost:{{ api_port }}",
        changeOrigin: true,
      },
    },{% endif %}
  },
});
